<div>
  <h2>Editar Buffet</h2>

  <% if @buffet.errors.any? %>
    <strong>Falha ao editar:</strong>
    <ul>
      <% @buffet.errors.full_messages.each do |msg| %>
        <li><%= msg %>!</li>
      <% end %>
      <%# @address.errors.full_messages.each do |msg| %>
        <li><%# msg %>!</li>
      <%# end %>
    </ul>
  <% end %>

  <%= render 'form' %>
</div>