<section id="buffets">
  <% if @buffets.any? %>
    <% @buffets.each do |b| %>
      <h2><%= link_to b.trade_name, buffet_path(b) %></h2>
      <dl>
        <dt>Localização:</dt>
        <dd><%= b.address.city %>/<%= b.address.state %></dd>
      </dl>
    <% end %>
  <% else %>
    <p>Não há Buffets disponíveis no momento.</p>
  <% end %>
</section>