<h1>Editar Evento: <%= @event.name %></h1>

<% if @event.errors.any? %>
    <strong>Falha ao editar:</strong>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %>!</li>
      <% end %>
    </ul>
  <% end %>

<%= render 'form' %>