<% if owner_signed_in? %>
  <%= render 'owner_index' %>

<% elsif customer_signed_in? %>
  <div id="customer_orders"></div>
    <h1>Meus Pedidos</h1>

    <% if @orders.empty? %>
      <p>Não há pedidos cadastrados.</p>
    <% else %>
      <dl>
        <% @orders.each do |order| %>
          <div>
              <dt>Pedido <%= link_to order.code, order_path(order) %></dt>
              <dd>Data Desejada: <%= I18n.localize(order.date) %></dd>
          </div>
        <% end %>
      </dl>
    <% end %>
  </div>
<% end %>