<h1>Editar Preço-Base do Evento: <%= @event.name %></h1>

<% if @price.errors.any? %>
  <p>Falha ao editar:</p>
  <ul>
    <% @price.errors.full_messages.each do |msg| %>
      <li><%= msg %>!</li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>