<h1>Adicionar Preço-Base</h1>


<% if @price.errors.any? %>
  <strong>Verifique os erros:</strong>
  <ul>
    <% @price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>